
hr {
  color: blue
}

p {
   font-size: 0.9pt;
   text-align: center;
}
/*
.imagenFondo {	
	background: #FFFFFF url('http://wap.movilaction.com/telcel-ligue/img/bg_100x100.jpg') no-repeat;
	width: 7em; 
	height: 10em;
	border-spacing: 0.8em;
	padding: 0em;
}

a {
	font-size: 0.6em;
}

smartLink {
	font-size: 0.8em;
}

.telefono { 
		width: 7em; 
		height: 1em; 
}

.enviarMSISDN{
		width: 7em; 
		height: 1em;
		font-size:0.6em;
        color:white;
        background:red;
        border:0px;	 	
}
*/